body {
    background-color: cyan;
    text-align: center; /* Centra el contenido horizontalmente */
    margin: 0;
    padding: 20px;
}

div {
    display: inline-block; /* Hace que los pasos sean elementos en línea */
    text-align: left; /* Alinea el texto del paso a la izquierda */
    margin-bottom: 20px;
    max-width: 500px; /* Limita el ancho de los elementos para que no se desborden */
}

h2 {
    color: red;
}

img {
    width: 100%; /* Ajusta el tamaño de las imágenes al 100% del ancho del contenedor */
    height: auto;
    max-width: 500px; /* Limita el ancho máximo de las imágenes a 500px */
}

